.TicketWrapper{
  margin: 0 auto;
  max-width: 1100px;
  h1{
    padding-left: 10px;
    padding-top: 20px;
    color: white;
    font-size: 40px;
  }
  .TicketQuestionNumber{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    button{
      background-color: #fff;
      transition: 0.2s;
      padding: 10px;
      font-size: 20px;
      margin-right: 2px;
      border: none;
      &:hover{
        background-color: #ececec;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .TicketQuestionNumber{
      overflow: auto;
    }
  }
  .TicketQuestionInfo{
    margin: 20px 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    .TicketQuestionCurrent {
     img{
       border-radius: 10px;
       width: 70%;
       height: 70%;
     }
    }
    .TicketQuestionAnswers{
      .TicketQuestionAnswer{
        display: block;
        margin-top: 5px;
        width: 100%;
        border: none;
        font-size: 16px;
        padding: 10px;
        transition: 0.3s;
        border-radius: 5px;
        &:hover{
          background-color: #ffffff;
        }
      }
    }
  }
  .TicketResultWrapper {
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    position: absolute;
    max-width: 1000px;
    width: 70%;
    height: 90%;
    background-color: #d5d3d3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .sad {
        height: 15%;
        width: 25%;
      }
      h1 {
        color: black;
        margin-bottom: 20px;
      }
      button{
        margin-top: 20px;
        font-size: 40px;
        background-color: #ececec;
        transition: 0.2s;
        margin-right: 2px;
        padding: 5px;
        border: none;
        border-radius: 10px;
        &:hover{
          background-color: #fff;
        }
      }

    }
    @media screen and (max-width: 1150px ){
      width: 90%;
      height: 80%;
    }
  }

}