@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;

}

.App{
  background: rgb(176,190,240);
  background: linear-gradient(90deg, rgba(176,190,240,1) 0%, rgba(127,147,213,1) 54%, rgba(22,71,226,1) 76%);
  min-height: 100vh;
}

